*.swp
*.swo
*.pyc
tags
paket.exe
.paket
ftplugin/bin/
packages/
.ionide
fsac/
fsac.zip
/.vs
.luacheckrc
.editorconfig
lua/ionide/handlers.lua
oldIndent.vim
.vscode
nvim-linux64/
nvim-linux64.tar.gz
*.tmp
*.log
